{% extends "base.html" %} {% block content %}{% load static %}

<!-- ***** Breadcrumb Area Start ***** -->
<div class="breadcumb-area bg-img bg-gradient-overlay" style="background-image: url({% static 'website/img/bg-img/12.jpg'  %});">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <h2 class="title">Blog Details</h2>
            </div>
        </div>
    </div>
</div>
<div class="breadcumb--con">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/"><i class="fa fa-home"></i> Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Blog Details</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- ***** Breadcrumb Area End ***** -->

<!-- ****** Blog Area Start ******* -->
<section class="dento--blog-area mt-50">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-10 mb-100 mx-auto">
                <!-- Blog Details Area -->
                <div class="blog-details-area mx-auto">
                    <img src="/static/{{post.image}}" alt="{{post.title}}">

                    <h2 class="post-title">{{post.title}}</h2>
                    <div class="post-meta">
                        <a href="#"><i class="icon_clock_alt"></i> {{post.publish}}</a>
                        <a href="#"><i class="icon_pencil-edit"></i> {{post.author}}</a>
                    </div>
                    <p>{{post.body}}</p>
                </div>

                <!-- Post Share  -->
                <!--                <div class="post-share-area mb-30">
                    <a href="#" class="facebook"><i class="fa fa-facebook"></i> Share</a>
                    <a href="#" class="tweet"><i class="fa fa-twitter"></i> Tweet</a>
                    <a href="#" class="google-plus"><i class="fa fa-google-plus"></i> Share</a>
                    <a href="#" class="pinterest"><i class="fa fa-pinterest"></i> Share</a>
                </div>--

                <!-- Comments Area -->
                <div class="comment_area clearfix">
                    <h5 class="title"> {{comments.count}} comment{{ comments.count|pluralize:",s" }}</h5>

                    <ol>
                        {% for comment in comments %}

                        <!-- Single Comment Area -->
                        <li class="single_comment_area">
                            <!-- Comment Content -->
                            <div class="comment-content d-flex">
                                <!-- Comment Author -->

                                <!-- Comment Meta -->
                                <div class="comment-meta">
                                    <p class="post-author">{{comment.name}} <span>{{comment.created}}</span></p>
                                    <p>{{comment.email}} </p>
                                    <p>{{comment.body}}</p>
                                </div>
                            </div>
                        </li>
                        {% endfor %}
                    </ol>
                </div>

                <!-- Leave A Reply -->
                <div class="contact-form mt-30">
                    <h5 class="mb-30">Leave A Reply</h5>

                    <!-- Form -->
                    <form method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-lg-6">
                                <input type="text" name="name" class="form-control mb-30" placeholder="Your Name" required>
                            </div>
                            <div class="col-lg-6">
                                <input type="email" name="email" class="form-control mb-30" placeholder="Your Email" required>
                            </div>
                            <div class="col-12">
                                <textarea name="body" class="form-control mb-30" placeholder="Your Message" required></textarea>
                            </div>
                            <div class="col-12">
                                <button type="submit" class="btn dento-btn">Reply</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>


        </div>
    </div>
</section>


{% endblock %}