{% include 'basic.html' %} {% block content %}

<div class="page-wrapper">
    <div class="content">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <h4 class="page-title">Edit Price</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Service Name <span class="text-danger">*</span></label>
                                <input class="form-control" type="text" name="title" value="{{price_obj.title}}" required>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Price </label>

                                <input class="form-control" type="number" name='price' value="{{price_obj.price}}" required>
                            </div>
                        </div>


                    </div>

                    <div class="m-t-20 text-center">
                        <button class="btn btn-primary submit-btn">Update Price</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>


{% endblock %}